<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
</head>
<body>
    <h2>Cart Page</h2>
    <a href="/"><button>Home</button></a>
    <a href="/inventory_page"><button>Inventory</button></a>

</body>
</html>