<!DOCTYPE html>
<html>
<head>
    <style>
        .error-message {
            color: red;  /* Change the color as needed */
            font-size: 24px;  /* Adjust the font size as needed */
        }
    </style>
</head>
<body>
    <h2>Error</h2>
    <p class="error-message">{{message}}</p>
    <a href="/"><button>Back to Home</button></a>
</body>
</html>
