<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<html>
<body>
    <h2>Home Page</h2>
    <a href="/cart_page"><button>Cart</button></a>
    <a href="/inventory_page"><button>Inventory</button></a>
    {{#if users.length}}
    <ul>
        {{#each users}}
            <li>
                <p>Username: {{username}}</p>
                <p>Bio: {{bio}}</p>
                <form action="/deleteUser/{{_id}}?_method=DELETE" method="POST">
                    <input type="submit" value="Delete User">
                </form>
            </li>
        {{/each}}
    </ul>
    {{else}}
        <p>No users yet</p>
    {{/if}}

    <!-- Add a form to input user data -->
    <h2>Add a User</h2>
    <form action="/addUser" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <br>
        <label for "bio">Bio:</label>
        <input type="text" name="bio" id="bio">
        <br>
        <input type="submit" value="Add New User">
    </form>
    
</body>
</html>
