<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
</head>
<html>
<body>
    <h2>Hello</h2>
    <ul>
        {{#each users}}
            <li>
                <p>Username: {{username}}</p>
                <p>Cart: {{cart}}</p>
                <p>Inventory: {{inventory}}</p>
            </li>
        {{/each}}
    </ul>
</body>
</html>