<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
</head>
<body>
    <h2>Inventory Page</h2>
    <a href="/"><button>Home</button></a>
    <a href="/cart_page"><button>Cart</button></a>
    
</body>
</body>
</html>