<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body class="bg-gray-200 text-gray-800">
    <div id="container" class="max-w-7xl mx-auto px-4">
        <header class="bg-gray-700 text-white text-center py-4">
            <h1 class="text-2xl">Bri-Commerce</h1>
        </header>
        <div id="content" class="py-5">
            {{{ body }}}
        </div>
    </div>
</body>
</html>
