<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
</head>
<html>
<div id="container">
    <header>
        <h1>Bri-Commerce</h1>
    </header>
    <div id="content">
        {{{ body }}}
    </div>
</div>
</html>