<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bri-Commerce</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
</head>
<body class="bg-gray-100">
    <div id="container" class="container mx-auto mt-6 p-4">
        <header class="bg-gray-800 text-white text-center p-4">
            <h1 class="text-3xl font-bold m-0">Bri-Commerce</h1>
        </header>
        <div id="content" class="mt-4">
            {{{ body }}}
        </div>
    </div>
</body>
</html>
